/* imports a custom framework made in a previous project from jsDelivr */
@import url(https://cdn.jsdelivr.net/gh/ktortolini/random-cards@main/assets/css/bitkit.css);

note {
   width: 100%;
   justify-content: space-around;
}

body {
   max-width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-block-start: 0;
   margin-block-end: 0;
}

label {
   cursor: inherit !important;
   user-select: none !important;
}

article {
   min-width: 35%;
   max-width: 75%;
}

.backdrop {
   mix-blend-mode: normal;
   background-size: cover;
   background-image: url('../../../public/backdrop.jpg');
}

.t-row {
   margin: 0 !important;
   height: 35px !important;
   text-align: center !important;
   font-size: 1.2rem !important;
}

.tt-row {
   margin: 0 !important;
   height: 35px !important;
   text-align: left !important;
   font-size: 1.2rem !important;
}

.i-row {
   /* changes the border sizing */
   max-width: 75% !important;
   padding: 3.5rem !important;
   border-width: 40px !important;
   border-image-slice: 30 !important;
}

.ii-row {
   /* changes the border sizing */
   margin-top: 1.2rem;
   padding: 0 !important;
   max-width: 75% !important;
   border-image-slice: 18 !important;
   /* additional attributes */
   border-width: 40px;
   border-style: solid;
   /* border image attributes */
   border-image: var(--half-frame) 40 stretch;
   background-color: hsla(215, 32%, 58%, 0.9) !important;
}

.f-row {
   max-width: 75%;
}

.grid {
   grid-template-rows: repeat(1, 1fr) !important;
   grid-template-columns: repeat(3, 1fr) !important;
}

.gold {
   background-color: hsla(50.6, 100%, 50%, 0.35) !important;
}

.silver {
   background-color: hsla(0, 0%, 75.3%, 0.35) !important;
}

.bronze {
   background-color: hsla(33, 44%, 41%, 0.35) !important;
}

.green1 {
   background-color: hsla(76, 80%, 50%, 0.15) !important;
}

.green2 {
   background-color: hsla(76, 82%, 39%, 0.15) !important;
}

.score-scroll {
   cursor: none;
   max-height: 105px;
   overflow-y: scroll;
   scrollbar-width: thin;
   scroll-behavior: smooth;
   scroll-snap-stop: revert-layer;
   scrollbar-arrow-color: var(--black-color);
   scrollbar-color: var(--default-text-color) transparent;
}

/* the following are grid-item classes */
.grid-item-position-1 {
   grid-row: 1;
   grid-column: 1;
}

.grid-item-name-1 {
   grid-row: 1;
   grid-column: 1;
}

.grid-item-num-1 {
   grid-row: 1;
   grid-column: 2;
}

.grid-item-score-1 {
   grid-row: 1;
   grid-column: 3;
}

.grid-item-position-2 {
   grid-row: 2;
   grid-column: 1;
}

.grid-item-name-2 {
   grid-row: 2;
   grid-column: 1;
}

.grid-item-num-2 {
   grid-row: 2;
   grid-column: 2;
}

.grid-item-score-2 {
   grid-row: 2;
   grid-column: 3;
}

.grid-item-position-3 {
   grid-row: 3;
   grid-column: 1;
}

.grid-item-name-3 {
   grid-row: 3;
   grid-column: 1;
}

.grid-item-num-3 {
   grid-row: 3;
   grid-column: 2;
}

.grid-item-score-3 {
   grid-row: 3;
   grid-column: 3;
}

.grid-item-position-4 {
   grid-row: 4;
   grid-column: 1;
}

.grid-item-name-4 {
   grid-row: 4;
   grid-column: 1;
}

.grid-item-num-4 {
   grid-row: 4;
   grid-column: 2;
}

.grid-item-score-4 {
   grid-row: 4;
   grid-column: 3;
}

.grid-item-position-5 {
   grid-row: 5;
   grid-column: 1;
}

.grid-item-name-5 {
   grid-row: 5;
   grid-column: 1;
}

.grid-item-num-5 {
   grid-row: 5;
   grid-column: 2;
}

.grid-item-score-5 {
   grid-row: 5;
   grid-column: 3;
}

.grid-item-position-6 {
   grid-row: 6;
   grid-column: 1;
}

.grid-item-name-6 {
   grid-row: 6;
   grid-column: 1;
}

.grid-item-num-6 {
   grid-row: 6;
   grid-column: 2;
}

.grid-item-score-6 {
   grid-row: 6;
   grid-column: 3;
}

.grid-item-position-7 {
   grid-row: 7;
   grid-column: 1;
}

.grid-item-name-7 {
   grid-row: 7;
   grid-column: 1;
}

.grid-item-num-7 {
   grid-row: 7;
   grid-column: 2;
}

.grid-item-score-7 {
   grid-row: 7;
   grid-column: 3;
}

.grid-item-position-8 {
   grid-row: 8;
   grid-column: 1;
}

.grid-item-name-8 {
   grid-row: 8;
   grid-column: 1;
}

.grid-item-num-8 {
   grid-row: 8;
   grid-column: 2;
}

.grid-item-score-8 {
   grid-row: 8;
   grid-column: 3;
}

.grid-item-position-9 {
   grid-row: 9;
   grid-column: 1;
}

.grid-item-name-9 {
   grid-row: 9;
   grid-column: 1;
}

.grid-item-num-9 {
   grid-row: 9;
   grid-column: 2;
}

.grid-item-score-9 {
   grid-row: 9;
   grid-column: 3;
}

.grid-item-position-10 {
   grid-row: 10;
   grid-column: 1;
}

.grid-item-name-10 {
   grid-row: 10;
   grid-column: 1;
}

.grid-item-num-10 {
   grid-row: 10;
   grid-column: 2;
}

.grid-item-score-10 {
   grid-row: 10;
   grid-column: 3;
}
